.new-receipe form {
  width: 60%;
  margin: auto;
}

.new-receipe input {
  display: block;
  width: 100%;
  margin: auto;
  padding-left: 1em;
  font-family: sans-serif;
  font-size: 40px;
  height: 4.5ex;
  color: var(--font-color);
}

.new-receipe input-label {
  display: block;
  margin: auto;
  margin-top: 2ex;
  font-family: sans-serif;
  font-size: 30px;
  text-align: left;
  color: var(--font-color);
  text-shadow: none;
}

.new-receipe input.button {
  margin-top: 1ex;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.new-receipe input.ingredient, input.amount {
  border: none;
  border-bottom: 1px var(--primary-light-color) solid;
  display: inline-block;
}

.new-receipe input.ingredient {
  width: 100%;
}

.new-receipe input.amount {
  display: none;
}

tr {
}

.new-receipe table.ingredient-table {
  border: none;
  width: 100%;
}
