/*
 * Dieses Stylesheet darf nur Selektoren beinhalten, die mit .my-receipes
 * beginnen. Denn wir wollen nicht, dass hier Eigenschaften aus anderen Bereichen
 * der Anwendung überschrieben werden.
 */

table {
  width: 60%;
  margin: auto;
  color: var(--primary-dark-color);
  text-shadow: none;
  border-collapse: collapse;
  border: none;
}

tr {
  #display: grid;
  #grid-template-columns: repeat(5, 1fr);
  #grid-template-rows: repeat(3, 1fr);
  border-bottom: 1px #EFEFEF solid;
  font-size: 24px;
  text-align: left;
}

td {
  #border-left: 1px var(--primary-dark-color) solid;
  height: 1.2ex;
  padding-left: 2em;
}

th > .name
{
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: left;
  padding-left: 1em;
  font-size: inherit;
}

th > .edit-link
{
    color: var(--accent-color);
    grid-column: 6;
}

.icon {
  margin-top: 0.3em;
  padding-bottom: 0;
}

#dummy {
  display: none;
}

#add-link {
    font-size: 2em;
    font-weight: bolder;
    padding: 0;
}

#add-link:hover {
    background-color: var(--primary-color) !important;
}

#add-link > a:hover {
    color: var(--secondary-color) !important;
    text-decoration: none !important;
}

@media screen and (max-width: 800px) {
  tr, td {
    font-size: 24px;
    padding-left: 1em;
  }

  table {
    width: 100%;
  }
}
