/*
 * Dieses Stylesheet darf nur Selektoren beinhalten, die mit .my-receipes
 * beginnen. Denn wir wollen nicht, dass hier Eigenschaften aus anderen Bereichen
 * der Anwendung überschrieben werden.
 */

.my-receipes table {
  width: 60%;
  margin: auto;
  color: var(--primary-dark-color);
  text-shadow: none;
  border-collapse: collapse;
  border: none;
}

.my-receipes tr {
  #display: grid;
  #grid-template-columns: repeat(5, 1fr);
  #grid-template-rows: repeat(3, 1fr);
  border-bottom: 1px #EFEFEF solid;
  font-size: 24px;
  text-align: left;
}

.my-receipes td {
  #border-left: 1px var(--primary-dark-color) solid;
  height: 1.2ex;
  padding-left: 2em;
}

.my-receipes th > .name
{
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: left;
  padding-left: 1em;
  font-size: inherit;
}

.my-receipes th > .edit-link
{
    color: var(--accent-color);
    grid-column: 6;
}

.my-receipes .icon {
  margin-top: 0.3em;
  padding-bottom: 0;
}

.my-receipes #dummy {
  display: none;
}

.my-receipes #add-link {
    font-size: 2em;
    font-weight: bolder;
    padding: 0;
}

.my-receipes #add-link:hover {
    background-color: var(--primary-color) !important;
}

.my-receipes #add-link > a:hover {
    color: var(--secondary-color) !important;
    text-decoration: none !important;
}

@media screen and (orientation: portrait) {
  .my-receipes tr, td {
    font-size: 24px;
    padding-left: 1em;
  }

  .my-receipes table {
    width: 100%;
  }
}
