/*
 * Dieses Stylesheet enthält nur allgemeine Anweisungen, die sich auf die
 * gesamte App auswirken. Hier dürfen keine Änderungen vorgenommen werden,
 * die sich nur auf bestimmte Bereiche der Anwendung auswirken sollen.
 *
 * Damit @import funktioniert, muss die Anweisung vor allen anderen
 * CSS-Anweisungen stehen. Dieses Stylesheet muss daher auch vor allen
 * anderen importiert werden.
 */
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    line-height: 1.6;
    color: var(--font-color);
    background-color: white;
}

@media screen and (max-width: 992px) {
  .desktop {
    display: none !important;
  }
}

/*
 * Größere Schrift auf größeren Bildschirmen
 * Vgl. https://getbootstrap.com/docs/4.0/layout/overview/#responsive-breakpoints
 */
@media screen and (min-width: 768px) {
    body,
    input {
        font-size: 24pt;
    }
    table {
      width: 100% !important;
    }
}

@media screen and (min-width: 992px) {
    body,
    input {
        font-size: 30pt;
    }
}

@media screen and (min-width: 1200px) {
    body,
    input {
        font-size: 36pt;
    }
}

/*
 * Häufig benötigte Hilfsklassen
 */
.hidden {
    display: none !important;
}

.padding {
    padding: 0.5rem;
}

#logo {
  max-height: 4em;
  margin: 0.5em auto 0.5em 2em;
}

h1 {
  font-size: 36px;
  color: var(--secondary-dark-color);
  text-shadow: none;
  margin-bottom: 0;
}

author {
  font-size: 24px;
  color: var(--primary-light-color);
  text-shadow: none;
  display: block;
  margin-top: 0;
}
