html {
    --font-color:                     darkblue;
    --highlight-background-color:     #66bb6a;

    --header-normal-background-color: #455a64;
    --header-normal-font-color:       rgba(255,255,255, 0.8);
    --header-active-background-color: #66bb6a;
    --header-active-font-color:       rgba(255,255,255, 0.9);
    --main--background-color:         white;
}
