html {
    --font-color:                     #455a64;
    --accent-color:                   #66bb6a;

    --highlight-background-color:     #66bb6a;

    --header-normal-background-color: #455a64;
    --header-normal-font-color:       rgba(255,255,255, 0.8);
    --header-active-background-color: #66bb6a;
    --header-active-font-color:       rgba(255,255,255, 0.9);
    --main--background-color:         white;

    --primary-color:                  #455a64;
    --primary-light-color:            #718792;
    --primary-dark-color:             #1c313a;
    --secondary-color:                #66bb6a;
    --secondary-light-color:          #98ee99;
    --secondary-dark-color:           #338a3e;
    --text-on-primary-color:          #ffffff;
    --text-on-secondary-color:         #000000;

}
